/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-logo{
      padding-top: 14px;
    }
    .judul-tp{
      width: 50%;
    }
    .gmbr{
      height: 250px;
      width: 250px;
    }
    .item p{
      padding:5px;
    }
}
